$breakpoint-sm: 600px; // small: tablets
$breakpoint-md: 900px; // medium: laptops
$breakpoint-lg: 1200px; // large: desktops

:root {
  --primary-title-color: #727272;
  --second-title-color: #f8bb10;
  --primary-bg-color: #fff;
  --primary-black-color: #fbfbfb;
  --second-bg-color: #fcfcfc;
  --second-black-color: #f8f8f8;
  --third-black-color: #ececec;
  --primary-bg-color-opacity: #ffffffcc;
  --primary-text-color: #939393;
  --primary-burger-icon-bg-color: #444;
}
